[Unit]
Description=Karakeep headless browser
After=network.target

[Service]
User=root
Group=root
Restart=on-failure
ExecStart=/usr/bin/chromium --headless --no-sandbox --disable-gpu --disable-dev-shm-usage --remote-debugging-address=localhost --remote-debugging-port=__PORT_BROWSER__ --hide-scrollbars
TimeoutStopSec=5
SyslogIdentifier=__APP__-browser

[Install]
WantedBy=multi-user.target